:root {
  --cover-primary-text-color: #ffffff;
  --cover-primary-text-font-size: 28px;
  --cover-primary-text-font: sans-serif;
  --cover-primary-text-align: center;
  --cover-primary-text-stack: 0;
  --cover-secondary-text-color: #ffffff;
  --cover-secondary-text-font-size: 20px;
  --cover-secondary-text-font: sans-serif;
  --cover-secondary-text-align: center;
  --cover-secondary-text-stack: 1;
  --cover-color-overlay-opacity: 0%;
  --cover-background-color: #333333;

  --cover-secondary-bottom: unset;
  --cover-secondary-right: unset;
  --cover-secondary-left: unset;
  --cover-secondary-position: relative;

  /* Base template variables with default values */

  --cover-display: flex;
  --cover-justify-content: center;
  --cover-align-items: center;
}

.coverSection {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: color-mix(in srgb, var(--mantine-color-gray-1) 75%, transparent);
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 0;
  text-align: center;

  @media (max-width: em(992px)) {
    padding: 1rem 0;

    .coverSection {
      padding: 0;
    }
  }
}

.coverWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  border-radius: 12px;
  position: relative;
  z-index: 2;

  @media (min-width: em(992px)) {
    gap: 2rem;
  }
}

.coverSkeleton {
  width: min(calc(90vw - 360px), 900px);
  min-width: 320px;
  aspect-ratio: 1.9;
  border-radius: 12px;
}

[data-mantine-color-scheme='dark'] .coverSection {
  background-color: color-mix(in srgb, var(--mantine-color-dark-9) 75%, transparent);
}
