/* Keep list up to date with DEFAULT_CSS_VARIABLE_VALUES */
:root {
  --cover-background-color: #333333;
  --cover-title-color: #ffffff;
  --cover-subtitle-color: #ffffff;
}

.coverSection {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: color-mix(in srgb, var(--mantine-color-gray-1) 75%, transparent);
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 0;
  text-align: center;

  @media (max-width: em(992px)) {
    .cover {
      width: min(90vw, 900px);
    }

    .coverSection {
      padding: 0;
    }
  }
}

.coverWrapper {
  border: 1px dashed var(--mantine-color-default-border);
  padding: 1rem 0;
  border-radius: 12px;
}
.cover {
  /* User edited */
  background-color: var(--cover-background-color);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: min(calc(90vw - 360px), 900px);
  aspect-ratio: 1.905 / 1;
  border-radius: 12px;
  margin: 1rem;
}

.title {
  /* User edited */
  color: var(--cover-title-color);

  font-size: clamp(16px, calc(min(calc(90vw - 360px), 900px) * 0.04), 36px);
  white-space: pre-wrap;
  word-break: break-word;
  /* max-width: 75%; */
  font-weight: 600;
  text-wrap: balance;
  text-align: center;
}

.subtitle {
  /* User edited */
  color: var(--cover-subtitle-color);

  font-size: clamp(12px, calc(min(calc(90vw - 360px), 900px) * 0.027), 24px);
  white-space: pre-wrap;
  word-break: break-word;
  /* max-width: 80%; */
  margin-top: 1rem;
  line-clamp: 3;
  font-weight: 500;
  text-wrap: balance;
  text-align: center;
}

[data-mantine-color-scheme='dark'] .coverSection {
  background-color: color-mix(in srgb, var(--mantine-color-dark-9) 75%, transparent);
}
