.sidebar {
  width: 100%;
  height: 100%;
  background-color: var(--mantine-color-gray-0);

  @media (min-width: em(992px)) {
    height: calc(100vh - 75px);
    width: 425px;
    border-right: 1px solid var(--mantine-color-default-border);
  }
}
[data-mantine-color-scheme='dark'] .sidebar {
  background-color: var(--mantine-color-dark-8);
}
