.patternCard {
  background-color: #333333;
  background-size: 20%;
  background-position: top;
  background-repeat: repeat;
  aspect-ratio: 1.9;
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  opacity: 0.8;
  transition: opacity 0.2s ease-in-out;

  &:hover {
    opacity: 1;
  }

  &--selected {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
