.sidebar {
  width: 100%;
  height: 100%;
  background-color: var(--mantine-color-white);

  @media (min-width: em(992px)) {
    height: calc(100vh - 69px);
    width: 400px;
    border-right: 1px solid var(--mantine-color-default-border);
  }

  [data-mantine-color-scheme='dark'] & {
    background-color: var(--mantine-color-dark-7);
  }

  &-footer {
    border-top: 1px solid var(--mantine-color-default-border);
    z-index: 10;
  }
}

.accordionControl {
  background-color: var(--mantine-color-white);

  [data-active='true'] & {
    background-color: var(--mantine-color-gray-1);
  }

  [data-mantine-color-scheme='dark'] & {
    background-color: var(--mantine-color-dark-7);
  }

  [data-mantine-color-scheme='dark'] &[data-active='true'] {
    background-color: var(--mantine-color-dark-8);
  }
  [data-mantine-color-scheme='dark'] &:hover {
    background-color: var(--mantine-color-dark-8);
  }
}
