:root {
  /* Background templates */

  /* Diagonal Split */
  --clip-path-diagonal-split-1: polygon(0 0, 60% 0, 40% 100%, 0 100%);
  --clip-path-diagonal-split-2: polygon(60% 0, 100% 0, 100% 100%, 40% 100%);

  /* Diagonal Split (Reverse) */
  --clip-path-diagonal-split-reverse-1: polygon(0 0, 40% 0, 60% 100%, 0 100%);
  --clip-path-diagonal-split-reverse-2: polygon(40% 0, 100% 0, 100% 100%, 60% 100%);

  /* Horizontal Split */
  --clip-path-horizontal-split-1: polygon(0 0, 100% 0, 100% 50%, 0 50%);
  --clip-path-horizontal-split-2: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);

  /* Vertical Split */
  --clip-path-vertical-split-1: polygon(0 0, 50% 0, 50% 100%, 0 100%);
  --clip-path-vertical-split-2: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);

  /* Cross */
  --clip-path-cross-1: polygon(0 100%, 100% 0, 100% 100%);
  --clip-path-cross-2: polygon(0 0, 100% 0, 0 100%);

  /* Cross (Reverse) */
  --clip-path-cross-reverse-1: polygon(0 0, 100% 100%, 0 100%);
  --clip-path-cross-reverse-2: polygon(100% 0, 100% 100%, 0 0);

  /* Criss Cross */
  --clip-path-criss-cross-1: polygon(0 0, 100% 0, 100% 65%, 75% 50%, 50% 65%, 25% 50%, 0 65%);
  --clip-path-criss-cross-2: polygon(0 65%, 25% 50%, 50% 65%, 75% 50%, 100% 65%, 100% 100%, 0 100%);
}

.previewPaper {
  position: relative;
  margin: 0 auto;
  padding: 4px;
  opacity: 0.8;
  overflow: hidden;
  transition: opacity 0.2s ease-in-out;
  background: white;
  border: 1px solid var(--mantine-color-default-border);

  [data-mantine-color-scheme='dark'] & {
    background-color: var(--mantine-color-dark-9);
    border: 1px solid var(--mantine-color-dark-8);
  }

  &:hover {
    opacity: 1;
  }

  &-content {
    display: flex;
    aspect-ratio: 1.9;
    max-width: 100%;
    gap: 8px;
  }

  /* Layout templates */

  &-content--centered {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &-content--centered-row {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  &-content--end {
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
  }

  &-content--top {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  &-content--left {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  &-content--right {
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }
}

/* Text placeholder */

.previewBar {
  &--bottom-right {
    position: absolute;
    bottom: 16px;
    right: 16px;
  }

  &--bottom-left {
    position: absolute;
    bottom: 16px;
    left: 16px;
  }

  &--wide {
    height: 20%;
    width: 60%;
    background: var(--mantine-color-dark-7);
    border-radius: 4px;

    [data-mantine-color-scheme='dark'] & {
      background: var(--mantine-color-gray-2);
    }
  }

  &--narrow {
    width: 40%;
    height: 8%;
    background: var(--mantine-color-dark-6);
    border-radius: 4px;

    [data-mantine-color-scheme='dark'] & {
      background: var(--mantine-color-gray-3);
    }
  }

  &--thick {
    height: 40%;
    width: 100%;
  }
}

/* Background templates */

.backgroundTemplate-previewSection {
  position: absolute;
  inset: 0;
  z-index: 0;
  background-color: var(--mantine-color-dark-7);

  &--diagonal-left {
    clip-path: var(--clip-path-diagonal-split-1);
  }

  &--cross {
    clip-path: var(--clip-path-cross-1);
  }

  &--cross-reverse {
    clip-path: var(--clip-path-cross-reverse-1);
  }

  &--diagonal-left-reverse {
    clip-path: var(--clip-path-diagonal-split-reverse-1);
  }

  &--horizontal-top {
    clip-path: var(--clip-path-horizontal-split-1);
  }

  &--criss-cross {
    clip-path: var(--clip-path-criss-cross-1);
  }

  &--vertical-left {
    clip-path: var(--clip-path-vertical-split-1);
  }

  [data-mantine-color-scheme='dark'] & {
    background-color: var(--mantine-color-gray-2);
  }
}
